@font-face {
    font-family: minfont;
    src: url(fonts/ArcaMajora3-Bold.woff);
    font-display: swap;   
}

* {
  box-sizing: border-box;
}
* {
    margin: 0 auto 0 auto;
}
html {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* HEADER */
header ul {
    margin: 0px;
    padding: 0px;
    margin-top: 92px;
    display: inline-block;
    list-style-type: none;
}
header {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: black; 
    height: 100px;
}
header a {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s;
    transition-timing-function: linear;
    font-weight: 700;
}
header li {
    display: inline;
    padding: 0 10px 0 10px;
}
header nav{
    margin-top: -24px;
}
/* :not(.active) = hover on all links which doesn't have an .active */
header a:not(.active):hover{
    color: white;
    border-bottom: solid white 5px;
    padding-bottom: 4px;
    cursor: pointer;
}
@media (max-width: 600px) {
    header a {
        font-size: 10px;   
    }
}
@media (max-width: 600px) {
    .p2 {
        font-size: 14px;   
    }
}

@media screen and (min-width: 0-600px){
    .main {
        width: 20%;
    }
}
nav .active {
    border-bottom: solid 5px white;
    padding-bottom: 4px;
}
.logonav {
    float: left;
    width: 20px;
    height: 20px;
}
.logo {
    width: 180px;
    height: 180px;
    margin-top: -40px;
    margin-left: 20px;
}


/*BODY*/

.main {
    width: 100%;
    height: 100%;
    background-color: black;
}
h1 {
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}
p {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-right: 5px;
    font-weight: 700;
}
.eventbox {
    width: 100%;
    height: 14vh;
    display: inline-block;
    background-color: white;
}
.infobox {
    width: 30%;
    height: 80vh;
    background-color: black;
    float: right;
}
.ticketbox {
    width: 50%;
    height: 10vh;
    margin-top: 80px;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2%;
}
.buy {
    color: black;
    margin-top: 
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.ticketbox:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); 
    transition-delay: 0.01s;
}
.line {
    width: 100%;
    height: 1vh;
    background-color: white;
}
.box1 {
    height: 80vh;
    width: 69.5%;
    background-color: black;
    display: inline-block;
    background-image:url(images/generator.jpg);
    background-size: cover;
    
}
.box2 {
    height: 80vh;
    width: 69.5%;
    display: inline-block;
    background-color: black;
    background-image: url(images/openmic.jpg);
    background-size: cover;
    vertical-align: top;
}

.box3 {
    height: 80vh;
    width: 69%;
    display: inline-block;
    background-color: black;
    background-image: url(images/Meetup.jpg);
    background-size: cover;
    vertical-align: top;
}
.text {
    color: white;
    text-align: center;
    margin-top: 200px;
    font-weight: 700;
    font-size: 100px;
    
}

/* FOOTER STYLE */
footer {
   width: 100%;
   right: 0;
   bottom: 0;
   left: 0;
   height: 200px;
   background-color: black;
   text-align: center;
   overflow: hidden;
}
.open {
    margin-top: 5px;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    float: left;
}
.days {
    margin-top: 5px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    float: left;
}
.tider {
    margin-top: 25px;
    margin-left: 10px;
    float: left;
    display: inline-block;
}
.hours {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    
}
@media (max-width: 600px) {
    .open {
        font-size: 12px;   
    }
}
.some {
    width: 60%;
    height: 18vh;
    text-align: center;
    margin-top: 35px;
    margin-left: -150px;
    display: inline-block;
}
.icon-background {
    color:black;
    border-radius: 50%;
    border: 2px solid white;
}
.fa-facebook {
    color: white;
}
.fa-twitter {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-instagram {
    color: white;
}



